/*
** Paleta de SASS
*/

$darkPrimaryColor:   #1976D2;
$primaryColor:       #2196F3;
$lightPrimaryColor:  #BBDEFB;
$textPrimaryColor:   #FFFFFF;
$accentColor:        #607D8B;
$primaryTextColor:   #212121;
$secondaryTextColor: #727272;
$dividerColor:       #B6B6B6;

/*fuentes*/
@font-face {
	font-family: 'esandex';
	src:url('../fonts/icomoon.eot?-qxz6z2');
	src:url('../fonts/icomoon.eot?#iefix-qxz6z2') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-qxz6z2') format('truetype'),
		url('../fonts/icomoon.woff?-qxz6z2') format('woff'),
		url('../fonts/icomoon.svg?-qxz6z2#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}



*{margin: 0;}
a
{
	color: $primaryTextColor;
	text-decoration: none;
	&:hover
	{
		text-decoration: underline;
	}
}

body 
{ 	
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
    background-color: #efefef;
    color: rgb(50,50,50);
    height: 100%; 
    margin: 0 auto;
    padding: 0;
}
footer
{
	background-color: $darkPrimaryColor;
	color: #e9e9e9;
	height: 49px;
	border-top: 1px inset #ededed;
	position: fixed;
	bottom: 0;
	width: 100%;
	p
	{
		line-height: 50px;
		font-weight: bold;
	}
}
 

header
{
	background-color: $darkPrimaryColor;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: left;
	z-index: 2;
	.logo
	{
		height: 50px;
		display: inline-block;
		background-image: url('../img/logo.png');
		background-repeat: no-repeat;
		background-position: 0px center;
		background-size: 135px;
		width: 150px;
	}
	nav
	{
		position: absolute;
		height: 50px;
		right: 0;
		top: 0;
		ul
		{
			list-style: none;
			padding: 0;
			li
			{
				display: inline-block;
				font-weight: bold;
				a
				{
					height: 50px;
					line-height: 50px;
					padding: 0 10px;
					color: #e9e9e9;
					text-decoration: none;
					text-transform: uppercase;
					display: block;
					text-align: center;
					border-left: 1px outset #e9e9e9;
					&:hover
					{
						background-color: #3498db;
						color: rgba(85,85,85,.7);
					}
				}
			}
		}
	}
}

h1
{
	background-color: $secondaryTextColor;
	color: $textPrimaryColor;
	font-size: 21px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	margin: 0;
	padding-left: 20px;
	position: fixed;
	text-align: left;
	top: 50px;
	width: 100%;
	z-index: 1;
}
.buscador
{
	.bloque
	{
		display: inline-block;
		width: 320px;
		max-width: 90%;
		margin: 5px auto;
		text-align: right;
		

		label
		{
			display: inline-block;
			margin: 5px;
			text-align: left;
		}
		input[type="text"],
		input[type="number"],
		select
		{
			border-radius: 5px;
			border: 2px solid #2980b9;
			height: 45px;
			padding-left: 10px;
			width: 180px;
			margin: 0 auto;
			box-sizing: border-box;
			vertical-align: middle;
		}
	}
}

.buscador 
{
	.boton
	{
		background-color: #2980b9;
		border-radius: 5px;
		border: 0;
		display: block;
		height: 46px;
		margin: 5px auto;
		width: 150px;
		color: #e9e9e9;
		font-weight: bolder;
		line-height: 46px;
		text-align: center;
		cursor: pointer;
		&:hover
		{
			background-color: #3498db;
		}
	}
}



.btn_menu
{
	cursor: pointer;
	width: 50px;
	height: 50px;
	background-image: url('../img/iconos/menu.png');
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
}
.icon-add2
{
	background-color: $darkPrimaryColor;
	border-radius: 50%;
	bottom: 10px;
	color: #E6E6E6;
	font-family: 'esandex';
	font-size: 65px;
	font-weight: bolder;
	height: 70px;
	position: fixed;
	right: 10px;
	text-align: center;
	text-decoration: none;
	width: 70px;
	&:hover
	{
		box-shadow: 0 0 1em rgba(0,0,0,1);
	}
	&:before
	{
		content: "\e069";
	}
}
.notificacion-emergente
{
	width: 320px;
	display: none;
	height: 50px;
	background-color: rgba($secondaryTextColor, 0.8);
	position: fixed;
	left: 10px; 
	border-radius: 5px;
	color: $textPrimaryColor;
	line-height: 50px;
	bottom: 10px;
}

.contenido
{
	margin: 150px 0;
	.contenedor_informacion
	{
		margin: 10px;
		width: 90%;
		margin: auto;

		.bloques
		{
			background-color: #fff;
			margin: 30px;
			box-shadow: 0px 0px 5px $dividerColor;

			h3
			{
				background-color: $darkPrimaryColor;
				color: #fff;
				font-weight: bold;
				padding: 10px;
				text-align: left;
		
			}
			p 
			{
				padding: 10px;
			}

		}
	}
	.contenedorProductos
	{
		.contenedorProducto
		{
			border-top: 1px solid #ccc;
			width: 100%;
			margin: auto;
			padding: 10px;
			.row2
			{
				font-size: 13px;
				display: inline-block;
				.ContImgProducto
				{
					margin: 10px;
					img 
					{
					
						max-width: 100%;
						height: 100px;
						display: inline-block;
						vertical-align: bottom;
					}
					.datosImg
					{
						display: inline-block;
						color: $darkPrimaryColor;

						.decripcion
						{
							font-weight: bold;
							margin: 5px;
							padding: 5px;

						}
						.editar
						{
							background-image: url(../img/iconos/editar.png);
							background-repeat: no-repeat;
							background-position: center;
							width: 50px;
							height: 50px;
							cursor: pointer;
						}
						.eliminar
						{
							background-image: url(../img/iconos/ic_delete_black_24dp_1x.png);
							background-repeat: no-repeat;
							background-position: center;
							width: 50px;
							height: 50px;
							cursor: pointer;

						}
					}
				}
			}
			.row1
			{
				display: inline-block;

				.cabecera
				{
					font-weight: bold;
					padding: 5px;
					.idCabecera
					{
						width:20px;
					}
					.cantidadcabecera
					{
						width: 110px;
					}
					.precioCabecera
					{
						width: 150px;
					}

				}
				.cuerpo
				{
					.id
					{
						display: inline-block;
						width:20px;
					}
					.cantidad
					{
						display: inline-block;
						width: 110px;
					}
					.precio
					{
						display: inline-block;
						width: 150px;
					}
				}
			}

		}
	}

	.contenedorIcono
	{
		background-color: #fff;
  		box-shadow: 0px 0px 5px $dividerColor;
  		display: inline-block;
  		height: 61px;
  		left: 13px;
  		margin: 10px;
  		padding: 7px;
  		text-align: left;
  		vertical-align: top;
  		width: 190px;
	
			.iconoClientes
			{
				background-image: url(../img/iconos/clientes.png);
				background-repeat: no-repeat;
				background-position: center;
				display: inline-block;
				width: 50px;
				height: 50px;
			
			}
			.iconoOrdenesP 
			{
				background-image: url(../img/iconos/ordenes-pendientes.png);
				background-repeat: no-repeat;
				background-position: center;
				display: inline-block;
				width: 50px;
				height: 50px;
			}
			.iconoProductos 
			{
				background-image: url(../img/iconos/productos.png);
				background-repeat: no-repeat;
				background-position: center;
				display: inline-block;
				width: 50px;
				height: 50px;

			}

		.inf
		{
			display: inline-block;

			.numeroClientes, .numeroOrden, .numeroProductos
			{
				color: #2ECCFA;
				font-size: 27px;
			}
		
			.numeroOrden 
			{
				color: #FF0000;
			}

			.numeroProductos
			{
				color: #A901DB;
			}
			p 
			{
				font-size: 13px;
			}
		}
	}
	
}
.contenido .cabecera div
{
	display: inline-block;
}
.contenido .detalle .titulos div,
.contenido .detalle .item div
{
	display: inline-block;
}
.contResult
{
	position: fixed;
	right: 10px;
	top: 55px;
	color: #e9e9e9;
	z-index: 2;
	background: #777474;
	padding: 10px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
}
.loading
{
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	display: none;
	height: 265px;
	left: 50%;
	margin-left: -145px;
	margin-top: -130px;
	padding: 5px;
	position: fixed;
	text-align: center;
	top: 50%;
	width: 280px;
	z-index: 3;
}
.agenda
{
	background-color: $textPrimaryColor;
	width: 300px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0px 0px 5px $dividerColor;
	margin: 10px;

	.titulo
	{
		padding: 0.5em;
		text-align: left;
		font-weight: bolder;
	}
	
	.item
	{
		background-color: $lightPrimaryColor;
		border-bottom: 1px $dividerColor solid;
		text-align: left;
		font-size: 14px;
		padding: 5px;
	}
}
.formularioExterno
{
	width: 300px;
	margin: 0 auto;
	text-align: center;
	.logo
	{
		background-image: url('../img/logoCreativePMG.png');
		background-size: 125px;
		background-position: center 20px;
		background-repeat: no-repeat;
		width: 300px;
		height: 135px;
	}
	.titulo
	{
		font-size: 40px;
		margin: 10px;
		color: $darkPrimaryColor;
	}
	label
	{
		display: block;
		text-align: left;
		margin: 10px 0 5px 15px;
	}
	input[type="text"],
	input[type="password"],
	{
		width: 90%;
		height: 42px;
		border-radius: 5px;
		border: 2px $darkPrimaryColor solid;
		padding-left: 10px;
	}
	input[type="submit"]
	{
		background-color: $darkPrimaryColor;
		border-radius: 5px;
		border: 0;
		color: #e9e9e9;
		cursor: pointer;
		display: block;
		font-weight: bolder;
		height: 46px;
		line-height: 46px;
		margin: 5px auto;
		text-align: center;
		width: 95%;
	}
}

.secciones
{
    
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin: 1em;
	padding: 5px;
	text-align: center;
	width: 80%;
	font-size: 14px;
	z-index: 3;

	a
	{
		font-size: 11px;
	}

  	.datos 
  	{
		margin: 10px;
		width: 78%;
		float: left;

	    h3
	    {
	      text-align: center;
	    }

    div
    {

		text-align: left;
		display: inline-block;
		width: 100%;
		margin: 0px;

		.titulo
		{
			width: 85px;
			margin: 0px;
			padding: 0px;
			font-size: 13px;
		}
      p 
      {
        width: 67%;
        height: 10px;
        display: inline-block;
        padding: 0px;
        margin: 0px;
      }
    }

  }

  .opcion1, .opcion2
  {
    display: inline-block;
    width: 100%;
    width: 14%;
    height: 50px;
    vertical-align: top;
    margin: 0px;
  

    .borrar, .agregar
    {
      font-family: 'esandex';
      color: $primaryTextColor;
      font-size: 30px;
      width: 100%;
      height: 100%;
      display: inline-block;
      margin: 0px;
      cursor: pointer;
      &:hover
      {
          font-size: 25px;
      }
    }
    .borrar:before
     {
       content: "\e9ac";
     }
    .agregar:before 
    {
      content: "\e905";
    }


  }
}

.tarjeton
{
	background-color: $primaryTextColor;
	border-radius: 3px;
	box-shadow: 0px 0px 5px $primaryTextColor; 
	margin: 10px auto;
	max-width: 90%;
	padding: 10px;
	text-align: left;

	.titulo
	{
		font-size: 20px;
		border-bottom: 1px $secondaryTextColor solid;
		padding: 5px;

	}
	.item
	{
		padding: 10px;
		div,
		p 
		{
			display: inline-block;
		}
	}
}
.popup
{
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	bottom: 0;
	
	
	.nuevo_menu
	{
		height: 250px  !important; 
	}
	.cajaDialogo
	{
		background-color: #fff;
	    border-radius: 5px;
	    bottom: 0;
	    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);    
	    height: 384px;
	    left: 0;
	    margin: auto;  
	    padding: 5px;
	    position: fixed;
	    right: 0;
	    text-align: center;
	    top: 0;
	    width: 280px;
	    z-index: 3; 
	    transition: all 0.3s ease;

		.titulo 
	    {
			background-color: #2980b9;
			border-radius: 5px 5px 0 0;
			color: #e9e9e9;
			font-weight: bolder;
			min-height: 20px;
			padding: 10px 15px 10px 10px;
			position: relative;
			text-transform: uppercase; 

			.cerrar 
			{
				color: #fff;
				font-family: 'esandex';
				font-size: 20px;
				padding: 10px;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				border-radius: 0 5px 0 0; 

				&:hover
				{
				  background-color: $accentColor;
				  cursor: pointer;
				}
				&:before 
				{
				  content: "\e600";
				}
			}
	    }

		.formulario
		{
			background-image: none;
			padding: 10px;

			label
			{
				text-align: left;
				display: block;
				padding-left: 5px;
			}
			select   
			{
			  width: 100%;
			  height: 49px;
			}
			input[type="text"],
			input[type="number"],
			input[type="date"]
			{
				border-radius: 5px;
				width: 100%;
				border: 1px $darkPrimaryColor solid;
				vertical-align: middle;
				height: 40px;
				margin-top: 5px;
			}
			input[type="number"],
			input[type="date"]
			{
				text-align: right;
				padding-right: 5px;
				box-sizing: border-box;
			}
			input[type="submit"]
			{
				background-color:$darkPrimaryColor;
				border-radius: 0 0 5px 5px;
				border: 0;
				bottom: 0px;
				box-sizing: border-box;
				color: #e9e9e9;
				display: block;
				font-weight: bolder;
				height: 46px;
				left: 5px;
				margin: 5px 0;
				position: absolute;
				right: 5px;
				width: 280px;

				&:hover
				{
					background-color: $primaryColor;
				}
			}
			textarea
			{
				border-radius: 5px;
				border: 1px $darkPrimaryColor solid;
				width: 100%;
				box-sizing: border-box;
			}
			.btn_nuevo
			{
				background-color: #333;
				color: #e9e9e9;
				line-height: 50px;
				height: 50px;
				cursor: pointer;
				position: absolute;
				bottom: 5px;
				left: 5px;
				border-radius: 0 0 5px 5px;
				width: 280px;
			}
			.btn_cliente
			{
				background-color: #2980b9;
				background-image: url('../img/iconos/keyboard-control.png');
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 5px;
				display: inline-block;
				height: 45px;
				margin-top: 5px;
				vertical-align: middle;
				width: 45px;
			}
			.fecha_programada
			{
				display: none;
			}
			.lista
			{
				height: 208px;
  				overflow-x: hidden;
  				overflow-y: scroll;
  				
  				.item
  				{
					border-bottom: 1px solid #333;
					padding: 10px 0 10px 25px;
					text-transform: uppercase;
					text-align: left;
					font-size: 15px;
					
					&:hover
					{
						background-color: $accentColor;
						color: $textPrimaryColor;
						cursor: pointer;
					}
					.descripcion
					{
						.id_cliente
						{
							display: none;
						}
					}
  				}
			}
		}
		.listaMenus
		{
			overflow-y: scroll; 
			height: 208px;

			label 
			{
				background-color: #efefef;
				background-image: url('../img/iconos/checkbox-unchecked.png');
				background-position: 1px;
				background-repeat: no-repeat;
				background-size: 30px;
				border-bottom: 1px solid #333;
				cursor: pointer;  
				display: block;
				font-size: 14px;
				padding: 10px 0 10px 35px;
				text-align: center;
			}
			input[type="checkbox"] 
			{
				visibility: hidden;
				position: fixed;

				&:checked + label 
				{
					background-image: url('../img/iconos/checkbox-checked.png');
					font-weight: bold;      
				}
			}
		}
		.opcion_check
		{
			label 
			{
				background-color: #efefef;
				background-image: url('../img/iconos/checkbox-unchecked.png');
				background-position: 1px;
				background-repeat: no-repeat;
				background-size: 30px;
				cursor: pointer;  
				display: block;
				font-size: 14px;
				padding: 10px 0 10px 35px;
				text-align: center;
				-webkit-user-select: none;
			}
			input[type="checkbox"] 
			{
				visibility: hidden;
				position: fixed;

				&:checked + label 
				{
					background-image: url('../img/iconos/checkbox-checked.png');
					font-weight: bold;      
				}
			}
		}
	}
	/*
	** Clases para darle alto a diferentes popups
	*/
	.acceso_menus
	{
		height: 311px;
	}
	.nuevaOrdenServicio
	{
		height: 430px;
	}
	.lisProducto
	{
		height: 250px;
	}
	.lisClientes
	{
		height: 315px;
	}
	.newItemCompra,
	.newCliente
	{
		height: 315px; /*Tres inputs y sus labels*/
	}
	.newCompra
	{
		height: 227px; 
	}
	.nuevo_usuario,
	.newProveedor
	{
		height: 170px; /*Un solo input*/
	}
	.newCompra
	{
	}
}

.contenedor
{
	  margin-top: 50px;
  	  margin: 0 auto;
  	  max-width: 100%;
  	  width: 1000px;

  	  .avatar 
  	  {
  		background-color: #fff;
  		display: block;
  		height: 200px;
  		margin: 0 auto;
  		overflow: hidden;
  		position: relative;
  		text-align: left;
  		width: 200px;
  		border: 2px rgba($secondaryTextColor,0.5) solid;
  		border-radius: 5px;

  		img 
  		{
  			width: 100%;
  			height: 100%;
		}

		label 
		{
  			color: transparent;
  			background-image: url('../img/iconos/camera.png');
  			background-repeat: no-repeat;
  			background-size: 25px;
  			background-position: 10px center;
  			bottom: 0;
  			padding: 10px 0 10px 40px;
  			position: absolute;
  			width: 100%;
  			box-sizing: border-box;
  			&:hover 
			{
	  			background-size: 20px;
	  			background-color: #333;
	  			color: #e9e9e9;
	  			cursor: pointer;
			}
		}
		input[type="file"] 
		{
  			height: 0px;
  			width: 0px;
  			visibility: hidden;
		}	
	}
	.detalles 
	{
  		width: 500px;
  		max-width: 100%;
  		margin: 0 auto;
  		text-align: left;

  		.seccion
  		 {
  			border-bottom: 1px #BDBDBD solid;

  			 div 
  			 {
  				font-weight: bolder;
  				width: 100px;
			 }
  			 div, p 
  			 {
  				margin: 10px;
  				display: inline-block;
			 }
		}
	}
}


.contentPanel
{
	position: relative;
}
.deuda
{
	padding: 45px;
	p
	{
		padding: 5px;
	}
	.montoDeuda
	{
		background-color: #2980b9;
		width: 120px;
		font-weight: bolder;
		font-size: 20px;
		color: #e9e9e9;
		height: 120px;
		margin: 0 auto;
		border-radius: 50%;
		line-height: 120px;
	}
}
 
.descripciones
{
	margin: 10px auto;
	display: inline-block;
	vertical-align: top;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	padding: 25px;
	width: 90%;
	text-align: left;
	div
	{
		display: inline-block;
		margin-left: 10px;
		div
		{
			font-weight: bolder;
			width: 85px;
			display: inline-block;
			font-size: 16px;
		}
		p
		{
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
		}
	}
}

.optDetalle
{
	text-align: right;
	max-width: 90%;
	margin: 0 auto;
	.agregarDetalle
	{
		background-color: #2980b9;
		border-radius: 5px;
		border: 0;
		color: #e9e9e9;
		cursor: pointer;
		display: inline-block;
		font-weight: bolder;
		height: 46px;
		line-height: 46px;
		padding: 0 10px;
		margin: 5px 10px;
		text-align: center;
		width: 150px;
	}
}



.listaNotas
{

	.item
	{
		background: #fff;
		border-bottom: 2px solid #2980b9;
		border-left: 5px solid #2980b9;
		margin: 0 auto;
		max-width: 700px;
		padding: 10px 70px 45px 10px;
		position: relative;
		text-align: left;

		.estado
		{
			background-color: $darkPrimaryColor;
			color: $textPrimaryColor;
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 5px;
		}
		.editarOrden
		{
			display: none;
		}
		.cliente
		{
			font-weight: bolder;
		}
		.detalle
		{
			padding-left: 25px;
		}
		.montos
		{
			margin-top: 10px;
			div
			{
				display: inline-block;
				width: 100px;
				padding: 5px;
				text-align: center;
				background-color: #efefef;
				&:first-child
				{
					font-weight: bolder;
				}
				input[type="number"]
				{
					width: 100px;
					border: 1px solid #ccc;
					text-align: center;
				}
			}
		}
		.opcionesItem
		{
			position: absolute;
			right: 5px;
			top: 3px;
			.editar
			{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-image: url('../img/iconos/edit.png');
				background-position: center;
				background-repeat: no-repeat;
				&:hover
				{
					background-image: url('../img/iconos/edit-hover.png');
					cursor: pointer;
				}
			}
			.listo
			{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background-image: url('../img/iconos/done.png');
				background-position: center;
				background-repeat: no-repeat;
				&:hover
				{
					background-image: url('../img/iconos/done-hover.png');
					cursor: pointer;
				}
			}
			.agregar
			{
				background-color: transparent;
				background-image: url('../img/iconos/plus-opciones.png');
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 50%;
				border: 0;
				height: 50px;
				width: 50px;
				&:hover
				{
					background-image: url('../img/iconos/plus-hover.png');
					cursor: pointer;
				}
			}
		}
		.areaEditable
		{
			border-radius: 5px;
			display: block;
			border: 1px  solid #2980b9;
			width: 100%;
			height: 5em;
		}
		.btnEditarOrden
		{
			background-color: #2980b9;
			border-radius: 5px;
			border: 0;
			display: block;
			height: 46px;
			margin: 5px auto;
			width: 150px;
			color: #e9e9e9;
			font-weight: bolder;
			line-height: 46px;
			text-align: center;
			cursor: pointer;
			&:hover
			{
				background-color: #3498db;
			}
		}
	}
}
 
.listaDeudas
{
	margin: 10px;
	padding: 0 10px;
	.item
	{
		max-width: 500px;
		border-left: 5px solid #2980b9;
		background: #fff;
		margin: 0 auto;
		border-bottom: 2px solid #2980b9;
		text-align: left;
		position: relative;
		div
		{
			display: inline-block;
			vertical-align: middle;
		}
		.fecha
		{
			width: 35px;
			padding: 0 10px;
			font-size: 13px;
			text-align: center;
		}
		.monto
		{
			height: 45px;
			line-height: 45px;
			position: absolute;
			right: 0;
			top: 0;
			padding-right: 10px;
		}
	}
}
  
.mensajeParaElUsuario
{
	padding: 10px;
}
.menu
{
	background-color: $textPrimaryColor;
	bottom: 5px;
	box-shadow: 0px 0px 10px $primaryTextColor;
	color: $primaryTextColor;
	display: none;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: fixed;
	right: 5px;
	text-align: left;
	top: 55px;
	width: 250px;
	z-index: 3;

	&::-webkit-scrollbar
	{
		width: 8px;
	}
	&::-webkit-scrollbar-thumb
	{
		background-color: $darkPrimaryColor;
		border-radius:10px;
	}
	&::-webkit-scrollbar-thumb:hover
	{
		background-color: $darkPrimaryColor;
		border:1px solid #333;
	}
	&::-webkit-scrollbar-thumb:active
	{
		background-color:$darkPrimaryColor;
		border:1px solid #333;
	}
	ul
	{
		list-style: none;
		padding: 0;

		li
		{   
			
			border-bottom: 1px $dividerColor solid;
			a
			{
				display: block;
				padding: 20px;
				color: $primaryTextColor;
				text-decoration: none;
				transition: all 0.3s ease;
				
				&:hover
				{
					background-color: $primaryColor;
					font-weight: bolder;
					color: $textPrimaryColor;
				}
			}

			
			.icon-configuracion
			{
				  font-family: 'esandex';
				  color: #000;
				  font-size: 30px;
				  padding: 10px;
				&:before
				{
					content: "\e006";
				}
			}
			.icon-informacion
			{
				  font-family: 'esandex';
				  color: #000;
				  font-size: 30px;
				  padding: 10px;
				&:before
				{
					content: "\e02b";
				}
			}
		}
	}
}
.nuevoUsuario 
{
	bottom: 0;
	height: 380px;
	left: 0;
	margin: auto!important;
	height: 180px;
	right: 0;
	top: 0;
	width: 250px;
  	position: absolute;
}
.nuevoServicio
{
	bottom: 0;
	height: 370px;
	left: 0;
	margin: auto!important;
	height: 450px;
	right: 0;
	top: 0;
	width: 250px;
  	position: absolute;
}
.newPreOrder
{
	bottom: 0;
	height: 380px;
	left: 0;
	margin: auto!important;
	height: 360px;
	right: 0;
	top: 0;
	width: 250px;
  	position: absolute;
}
.nuevoCliente 
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 335px;
	bottom: 0;
	width: 250px;
	margin: auto!important;
	min-height: 180px;
}
.opcionCuenta
{
	background: #dedede;
	padding: 20px;
	color: #333;
	font-size: 14px;
	margin-bottom: 50px;
	a
	{
		color: #2980b9;
		font-size: 20px;
		text-decoration: none;
	}
	p
	{
		margin: 5px;
	}

}
 
.opcionesUsuario
{
	display: none;
	position: absolute;
	width: 150px;
	right: 0;
	top: 50px;
	z-index: 3;
	ul
	{
		list-style: none; 
		margin: 0;
		padding: 0;
		li 
		{
			a
			{
				background-color: #333;
				color: #e9e9e9;
				display: block;
				padding: 15px 0;
				text-decoration: none;
				&:hover
				{
					background-color: #444;
				}
			}
		}
	}
}
 
.tarjeta
{
	background-color: #fff;
	border-radius: 5px 5px 0 0;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	display: inline-block;
	margin: 10px auto;
	padding-bottom: 5px;
	vertical-align: top;
	width: 275px;

	.imagen
	{
		height: 100px;
		margin: 5px auto;
		width: 100px;

		img
		{
			width: 100%;
			height: 100%;
		}
	}
	.opciones 
	{
		.agregarMenus
		{
			background-color: #2980b9;
			background-image: url('../img/iconos/plus.png');
			background-position: center;
			background-repeat: no-repeat;
			height: 50px;
			&:hover
			{
				background-color: #3498db;
				cursor: pointer;
			}
		}
	}
	.titulo
	{
		background-color: #2980b9;
		border-radius: 5px 5px 0 0;
		color: #e9e9e9;
		font-weight: bolder;
		min-height: 20px;
		padding: 10px 15px 10px 10px;
		position: relative;
		text-transform: uppercase;
	}
	.detalles 
	{
		padding: 5px;
		text-align: left;
		p
		{
			background-size: 15px;
			background-repeat: no-repeat;
			background-position: 5px center;
			padding: 0 0 0 25px ;
		}
		.nombre 
		{
			background-image: url('../img/iconos/user.png');
		}	
		.email
		{
			background-image: url('../img/iconos/email.png'); 		
		}
		.mobile
		{
			background-image: url('../img/iconos/mobile.png'); 		
		}
	}
}


	
	

.menuUsuario 
{
	height: 50px;
	right: 0;
	text-align: right;
	position: absolute;
	top: 0;
	.usuario
	{
		position: relative;
  		margin-right: 33px;
		display: inline-block;
		cursor: pointer;
		.username
		{
			display: none;
			font-weight: bolder;
			color: #e9e9e9;
			vertical-align: middle;
		}
	    .avatar
		{
			width: 50px;
			height: 50px;
			display: inline-block;
			vertical-align: middle;
			img
			{
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
			
		}
		.icon-keyboard_arrow_down
		{
			color: #efefef;
  			text-align: center;
  			font-size: 29px;
  			font-family: 'esandex';
  			position: absolute;
  			right: -27px;
  			top: 10px;
  			&:before
  			{
  				content: "\e10f";	
  			}
		}
	}
	.notificaciones
	{
		display: inline-block;
		position: relative;
		vertical-align: middle;

		.icono
		{
			width: 50px;
			height: 50px;
			background-image: url('../img/iconos/notifications.png');
			background-position: center;
			background-repeat: no-repeat;
			position: relative;
			
			.contador
			{
				background-color: #333;
				border-radius: 50%;
				bottom: 5px;
				color: #e9e9e9;
				font-size: 10px;
				height: 10px;
				line-height: 10px;
				min-width: 10px;
				padding: 5px;
				position: absolute;
				right: 0;
				text-align: center;
			}
			&:hover
			{
				background-image: url('../img/iconos/on_notifications.png');
				cursor: pointer;
			}
		}
		.listaNotificaciones
		{
			-webkit-animation: gb__a .2s;
			-webkit-border-radius: 2px;
			-webkit-user-select: text;
			-webkit-animation: gb__a .2s;
			background-color: #fff;
			border-color: rgba(0,0,0,.2);
			border-radius: 2px;
			border: 1px solid #ccc;
			box-shadow: 0 2px 10px rgba(0,0,0,.2);
			color: #333;
			display: none;
			outline: none;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 50px;
			width: 240px;
			z-index: 99;

			.item
			{
				border: 1px solid #fff;
				color: #333;
				font-size: 11px;
				padding: 5px 30px 5px 20px;
				position: relative;
				text-align: left;
				
				&:hover
				{
					background-color: rgba(0,0,0,0.03);
					border: 1px solid #e5e5e5;
					cursor: pointer;
				}
			}
			
			.flechita
			{
				&:after 
				{
					border-left: 7px solid transparent;
					border-right: 7px solid transparent;
					border-top: 7px solid #fff;
					content: "";
					left: 110px;
					position: absolute;
					top: 0;
				}
			}
			
			.misNotificaciones
			{
				border: 1px solid #fff;
			    color: #333;
			    font-size: 11px;
			    list-style: none;
			    padding: 0;
			    max-height: 250px;
			    overflow-y: scroll; 
			    text-align: center;
			    &::-webkit-scrollbar
				{
				    width: 8px;
				}
				&::-webkit-scrollbar-thumb{
				    background-color: #2980b9;
				    border-radius:10px;
				}
				&::-webkit-scrollbar-thumb:hover{
				    background-color: #2980b9;
				    border:1px solid #333;
				}
				&::-webkit-scrollbar-thumb:active{
				    background-color: #2980b9;
				    border:1px solid #333;
				}
			}

			.verTodos
			{
				color: #333;
				list-style: none;
				font-size: 13px;
				padding: 1em;
				text-align: center;
				position: relative;
				padding-right: 40px;
				&:hover
				{
					cursor: pointer;
					color: #e9e9e9;
					background: rgba(0,0,0,0.5);
				}
			}
		}
	}
}
 
 
@media screen and (min-width: 400px)
{
	 .menuUsuario .usuario .username
	{
		display: inline-block;
	}
	
}
@media screen and (min-width: 600px)
{
	.secciones
	{
     width: 45%; 
  	}
	.contenido
	{
		.contenedorProductos
		{
			.contenedorProducto
			{
				width: 80%;
				padding: 20px;
				
				.row1
				{
					vertical-align: top;
					margin: 16px;
					
				}
				.row2
				{
					font-size: 16px;
				}
			}	
		}	
	}  
	
			
}

