/* line 1, ../scss/main.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* line 6, ../scss/main.scss */
body nav {
  padding: 0 1em;
}
/* line 10, ../scss/main.scss */
body .progress {
  display: none;
}
/* line 14, ../scss/main.scss */
body .message {
  padding: 5px;
}

/* line 21, ../scss/main.scss */
main {
  flex: 1 0 auto;
}
